# settings set target.source-map /private/tmp/godot /Volumes/Data/projects/games/godot

command script import -c lldb_helpers.py

type summary add "String" "CharString" --summary-string "${var._cowdata._ptr%s}" --category Godot
type summary add "Vector2i" --summary-string "\{ w=${var.width}, h=${var.height} \}" --category Godot
type summary add "Rect2i" --summary-string "\{ x=${var.position.x}, y=${var.position.height}, w=${var.size.width}, h=${var.size.height} \}" --category Godot

type summary add -x "VectorView<" -x "LocalVector<" -x "TightLocalVector<" --expand --summary-string "${svar%#} items" --category Godot

type category enable Godot